/* body */
html, body{
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans KR,sans-serif;
  background-color: #1b1b1b;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

/* UID */
.uid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-uid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pesquisa-uid {
  padding-top: 25px;
  width: 300px;
  display: flex;
}

input[type="radio"] {
  visibility: hidden;
}

.radio-uid{
  padding: 20px 0px;
  display: flex;
}

label .elementos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 50%;
}

input[type="radio"]:checked+label .elementos{
  opacity: 100%;
}

/* response */


/*dados da conta*/
section.conta-info {
  padding: 0% 15%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.campo{
  margin: 10px;
}

.conta1, .conta2{
  display: flex;
  flex-direction: column;
}

/*dados das armas*/
section.weapons{
  border-top: 2px solid #fff;

}

div.weapons{
  margin-top: 20px;
  
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
}

.weapon-lv-0, .weapon-lv-1, .weapon-lv-2{
  position: relative;
  top: 25px;
}

.weapon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-star-0, .weapon-star-1, .weapon-star-2{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 35px;
}

.weapon-star-0 img, .weapon-star-1 img, .weapon-star-2 img{
  width: 8%;
}

/*dados equipamentos*/
.equips-full .status {
  height: 100px;
  display: flex;
  justify-content: center;
}

.status-full{
  background-color: #161616;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.equips{
  background-color: #1b1b1b;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  border-radius: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.equipamento, .equipamento2{
  background-color: #00000030;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.equipamento2{
  display: flex;
  flex-direction: column;
  margin-right: 0rem;
  margin-left: 0.25rem;
}

.equipamento{
  display: flex;
  flex-direction: column;
}

.elmo, .ombreira, .bracadeira, .cinto, .peitoral, .calca{
  display: flex;
  align-items: center;
}

.ataque, .e-ataque {
  display: flex;
  align-items: center;
  padding: 5px;
}

.equip-img{
  width: 40%;
}

.icon-ataque, .icon-e-ataque{
  width: 1em;
}

.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.barra-total{
  background-color: #161616;
}

.barra {
  height: 25px;
  background-color: #161616;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.eficiencia{
  background-color: #63c384;
  height: 100%;
  width: 0%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.porcentagem{
  position: relative;
  top: -23px;
  display: flex;
  justify-content: center;
  color: #fff;  
  text-shadow: #000 1px 0 10px;
}